.edit-page-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    @media (min-width: 769px) {
        padding-left: 30%;
        padding-right: 30%;
    }
}

