:root {
    --background-color: #000000;

    /*Text Input*/
    --text-input-text-color: #C6C5C6;
    --text-input-background-color: #1C1C1C;
    --text-input-border-color: #B1B1B1;

    /*Button Color*/
    --button-color-background-color: #B2E71B
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}
button {
    all: unset;
}

