.no-content-page-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:29px;

    @media (min-width: 769px) {
        padding-left: 30%;
        padding-right: 30%;
    }

}

.no-content-page-container p{
    color: white;
    font-size: 32px;
    text-align: center;
}